/* RecoveryPhraseForm.css */
.recovery-phrase-form {
    max-width: 428px;
    height: 100vh;
    margin: auto;
    background-color: black;
    padding: 20px;
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.recovery-phrase-form h2{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 

}
.recovery-phrase-form h3{
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 

}
.recovery-phrase-form P {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 

}

.phrase-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.phrase-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.phrase-input input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px;
    background-color: rgba(128, 128, 128, 0.771);
    color: black;
}

.phrase-input button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
    color: #333;
    font-size: 18px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #4169e1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: all .6s ease;
}

button[type="submit"]:hover {
    background-color: #365abd;
    transform: scale(1.05);
}

.cancle{
    background-color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    transition: all .6s ease;
}

.cancle:hover{
    /* color: white; */
    background-color: whitesmoke;
    transform: scale(1.05);
}

button[type="button"],
button {
    background-color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: black;
}

button[type="button"]:hover {
    background-color: #c0c0c0;
}

.wallet-manager {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 

}

.password-input {
    display: flex;
    align-items: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.771);
}