.wallet-manager {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  min-height: 100vh;
    background-color: white;
    color: #fff;  
  }

.add-account-container {
    width: 428px;
    /* max-width: 400px; */
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    margin: 0 auto;
    height: auto;
  min-height: 100vh;
  }
  
  .add-account-header h1 {
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    }
  
  .add-account-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .add-account-button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background: linear-gradient(90deg, #007bff9f, #800080);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all .6s ease;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    }
  
  .add-account-button:hover {
    background-color: green;
    transform: scale(1.1);
  }
  
  .add-account-button.ledger {
    background-color: green;
    font-weight: bold;
  }
  
  .divider {
    margin: 10px 0;
    font-size: 18px;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    }
  
  .close-button {
    margin-left: 50%;
    /* margin-top: 70%; */
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 40px;
    color: #aaa;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: white;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .add-account-container {
      width: 80%;
      padding: 15px;
    }
  
    .add-account-button {
      font-size: 13px;
      padding: 8px;
    }
  
    .divider {
      font-size: 11px;
    }
  
    .add-account-header h2 {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .add-account-container {
      width: 95%;
      padding: 10px;
    }
  
    .add-account-button {
      font-size: 12px;
      padding: 6px;
    }
  
    .divider {
      font-size: 10px;
    }
  
    .add-account-header h1 {
      font-size: 30px;
    }
  }
  