/* Basic styles for the form */
form {
    /* max-width: 400px; */
    background-color: black;
    border-radius: 8px;
    color: white;
    
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="password"],
input[type="text"] {
    width: calc(100% - 40px);
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    color: black;
    background-color: rgb(128, 128, 128);
    font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"] {
    display: flex;
    font-size: 50px;
}

.terms {
    display: inline-flex;
    text-align: left;
}

.conditions {
    margin: 5px;
    font-size: 15px;
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif;
}

.password-input {
    display: flex;
    align-items: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(128, 128, 128);
}

/* .password-input button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2em;
    margin-left: 10px;
    margin-bottom: 7px;
    cursor: pointer;
} */

.strength {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.strength-bar {
    width: 20%;
    height: 5px;
    border-radius: 2.5px;
    margin-right: 5px;
}

.strength.weak .strength-bar:nth-child(-n+1) {
    background-color: red;
}

.strength.medium .strength-bar:nth-child(-n+2) {
    background-color: yellow;
}

.strength.good .strength-bar:nth-child(-n+3) {
    background-color: green;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 10rem;
    background: linear-gradient(90deg, #007bff9f, #800080);
    color: white;
    cursor: not-allowed;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    transition: all .4s ease;
}
/* .submit{
    transition: all .4s ease;
} */

.submit:hover{
    transform: scale(1.1);
}

button[type="button"]{
    background-color: rgba(245, 245, 245, 0.514);
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    margin-left: 10px;
}
button[type="button"]:hover {
    background-color: white;
}

button[type="submit"]:enabled {
    background-color: white;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: green;
}

.wallet-manager {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  min-height: 100vh;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.verify {
    text-align: left;
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px;
}



.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    max-width: 428px;
    height: auto;
  min-height: 100vh;
    /* width: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-bottom: 10px;
    font-size: 15px;
    color: white;
    text-align: left;
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #007bff;
    text-decoration: none;
}

.heading {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.container {
    display: flex;
    width: 100%;
    background-color: black;
    /* height: 100vh; */
  }
  
  .column {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .right {
    width: 10%;
    background-color: black;
    /* cursor: pointer; */
  }
  
  .left{
    width: 15%;
    background-color: black;
    font-weight: bold;
    display: block;
    justify-self: start;
    text-align:start;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .middle {
    width: 70%;
    background-color: black;
  }
  
  .progress-bar {
    width: 100%;
    background-color: black;
  }
  
  .progress {
    height: 20px;
    background-color: #76c7c0;
  }


  .message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}
